<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lineralayout">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".datastorage.SharedPreferencesActivity"></activity>
        <activity android:name=".datastorage.DataStorageActivity" />
        <activity android:name=".HandlerActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".fragment.ContainerActivity" />
        <activity
            android:name=".jump.SecondActivity"
            android:label="Second">
            <intent-filter>
                <action android:name="com.intent.test.SecondActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".jump.FirstActivity"
            android:label="first" />
        <activity android:name=".widget.PopupWindowActivity" />
        <activity android:name=".util.CustomDialogActivity" />
        <activity android:name=".util.ProgressActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".recyclerview.DialogActivity" />
        <activity android:name=".recyclerview.ToastActivity" />
        <activity android:name=".recyclerview.WebViewActivity" />
        <activity android:name=".recyclerview.PuRecyclerViewActivity" />
        <activity android:name=".recyclerview.GridRecyclerViewActivity" />
        <activity android:name=".recyclerview.HorRecyclerViewActivity" />
        <activity android:name=".recyclerview.LinearRecyclerViewActivity" />
        <activity android:name=".recyclerview.RecyclerviewActivity" />
        <activity android:name=".ImageViewActivity" />
        <activity android:name=".CheckBoxActivity" />
        <activity android:name=".RadioButtonActivity" />
        <activity android:name=".EditTextActivity" />
        <activity android:name=".ButtonActivity" />
        <activity android:name=".TextViewActivity" />
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".gridview.GridViewActivity" />
        <activity android:name=".UIActivity" />
        <activity android:name=".LifeCycleActivity" />
    </application>

</manifest>